@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: Monument;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../src/assets/fonts/MonumentExtended-Regular.otf') format('opentype');
}
s@font-face {
  font-family: 'Monument';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../src/assets/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
}
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-lato: 'Lato', 'sans-serif';
  --font-poppins: 'Poppins', 'sans-serif';
  --font-monument: Monument;

  /* Colors */
  --color-primary: rgba(0, 180, 216, 1);
  --color-primary-hover: rgba(0, 147, 177, 1);
  --color-dark-primary: rgba(32, 33, 36, 1);
  --color-dark-secondary: rgba(30, 30, 31, 1);
}